<%- include('../partials/head'); %>

<body>

  <main>
      <h1 class="text-xl rounded font-big font-bold text-black text-center px-12 py-2 bg-slate-50">Planes</h1>
    <div class="grid grid-cols-3 gap-8 bg-slate-50">
      <% listaplanes.forEach((plans) => { %>
      <div class="relative m-10 flex w-full max-w-xs flex-col overflow-hidden rounded-lg border border-gray-100 bg-white shadow-md">
        <a class="relative mx-3 mt-3 flex h-60 overflow-hidden rounded-xl" href="">
          <img class="object-cover" src="https://source.unsplash.com/300x201/?<%= plans.nombre %>" alt="exercise image" />
        </a>
        <div class="mt-4 px-5 pb-5">
          <a href="#">
            <h5 class="text-xl tracking-tight text-slate-900"><%= plans.nombre %></h5>
          </a>
          <div class="mt-2 mb-5 flex items-center justify-between">
            <p>
              <span class="text-3xl font-bold text-slate-900"><%= plans.dificultad %></span>
            </p>

          </div>

        </div>
      </div>
      <% }) %>
      </div>

  </main>
  <%- include('../partials/footer'); %>
  </body>
  
</html>